<div class="container-fluid" id="home-container">
  <div class="jumbotron text-center text-white">
    <h1 class="display-4" id="home-text">Keep calm and blog!</h1>
    <h3 id="home-text">
        Welcome to tripple B's where Blogging meets creativity.
    </h3>
    <hr class="my-4">
    <h5 id="home-text">
        Big Blogger Brand engourages creativity through writing
        by providing a platform to share with the rest of the world gread ideas.
    </h5>
    <%= link_to "Sign up!", signup_path, class: "btn btn-success btn-lg" %>
  </div>
</div>

