<div class="container-fluid">
    <div class="jumbotron text-center text-black" id="full-page-image">
            <div id= "text-box">
                        <h1 class="display-4">Keep calm and blog!</h1>
                <p class="lead">
                    Welcome to tripple B's where Blogging meets creativity. 
                </p>
                <hr class="my-4" />
                <p>
                Big Blogger Brand engourages creativity through writing
                    by providing a platform to share with the rest of the world gread ideas.
                </p>
                <%= link_to "Sign up!", signup_path, class:"btn btn-success btn-lg"%>
            </div>
    </div>
</div>

