<div class="container-fluid" id="home-container">
    <div class="jumbotron text-center text-black">
        <h1 class="display-4">Keep calm and blog!</h1>
        <p class="lead">
            Welcome to tripple B's where Blogging meets creativity. 
        </p>
        <hr class="my-1" />
        <p>
          Big Blogger Brand is here to engourages creativity, and writing
            by providing a platform to share with the rest of the world throught blogging.
        </p>
        <%= link_to "Sign up!", signup_path, class:"btn btn-success btn-lg"%>
    </div>
</div>
